# Copyright (c) 2024 EPAM Systems
# SPDX-License-Identifier: Apache-2.0

if BOARD_RZ_G3S
config BOARD
	default "rz_g3s"

endif # BOARD_RZ_G3S

if BOARD_RZ_G3S_FPU
config BOARD
	default "rz_g3s_fpu"

config FPU
	default y

config FPU_SHARING
	default y
endif # BOARD_RZ_G3S_FPU
