/*
 * Copyright (c) 2024 EPAM Systems
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <arm/renesas/rz/r9a08g045.dtsi>
#include <freq.h>
#include <mem.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

#include "rz_g3s_pinctrl.dtsi"

/ {
	model = "Renesas RZ G3S board";
	compatible = "renesas,rz-g3s";

	chosen {
		zephyr,sram = &sram;
		zephyr,console = &scif1;
		zephyr,shell-uart = &scif1;
	};

	aliases {
		sw2 = &sw_1;
		sw0 = &sw_2;
		sw1 = &sw_3;
	};

	ddr: memory@60000000 {
		compatible = "mmio-sram";
		reg = <0x60000000 DT_SIZE_M(128)>;
	};

	sram: memory@23000 {
		compatible = "mmio-sram";
		reg = <0x23000 DT_SIZE_K(244)>;
	};

	buttons {
		compatible = "gpio-keys";

		sw_1: button_1 {
		     gpios = <&port18 0 GPIO_ACTIVE_LOW>;
		     label = "SW1";
		     zephyr,code = <INPUT_KEY_1>;
		};

		sw_2: button_2 {
		     gpios = <&port0 1 GPIO_ACTIVE_LOW>;
		     label = "SW2";
		     zephyr,code = <INPUT_KEY_2>;
		};

		sw_3: button_3 {
		     gpios = <&port0 3 GPIO_ACTIVE_LOW>;
		     label = "SW3";
		     zephyr,code = <INPUT_KEY_3>;
		};

	};
};

&scif1 {
	current-speed = <115200>;
	pinctrl-0 = <&scif1_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&extal_clk {
	clock-frequency = <DT_FREQ_M(24)>;
};

&port0 {
	status = "okay";
};

&port18 {
	status = "okay";
};
