# Copyright (c) 2023 EPAM Systems
# SPDX-License-Identifier: Apache-2.0

config DMA_RZA2
	bool "Renesas RZA2 General Purpose DMA driver"
	depends on DT_HAS_RENESAS_RZA2_DMA_ENABLED
	select NOCACHE_MEMORY
	default y
	help
	  General Purpose DMA for Renesas RZA2 series. Please note that the buffers
	  for DMA should be provided with care or placed in NOCACHE_MEMORY section
	  to avoid cache coherence issues that can not be solved using cache maintenance
	  operations.
	  Using cacheble buffers for transfer is possible when buffers follows a set of rules:
	  - ensure the I/O buffers are cacheline-aligned. Without that, cacheline
	    sharing problems (data corruption) on CPUs with DMA-incoherent caches can be seen.
	    (The CPU could write to one word, DMA would write to a different one
	    in the same cache line, and one of them could be overwritten.)
	  - use cache maintenance operations to ensure that cache is coherent before and after the
	    transaction.

if DMA_RZA2

config DMA_RZA2_DESCRS_CHUNKS
	int "Dma RZA2 maximum descriptor pool chunks"
	default 16
	help
	  When RZ/A2 DMAC works in Link Mode, it accepts a linked list of descriptors that
	  includes information about data blocks to transfer. Zephyr recommends avoiding
	  the use of HEAP for data allocation; that's why this driver uses a preallocated
	  pool for the descriptors. This configuration specifies the maximum number of chunks
	  (chunk can be used as pool for each channel).

config DMA_RZA2_MAX_DESCRS
	int "Dma RZA2 maximum descriptors per channel"
	default 4
	help
	  This configuration describes the number of descriptors per allocated chunk (see
	  DAM_RZA2_DESCRS_CHUNKS for details) that can be assigned to each channel.
	  During the configuration, descriptors are connected to the linked list, which
	  is then passed to the DMA for performing the transfer.

config DMA_RZA2_INIT_PRIORITY
	int "Dma RZA2 init priority"
	default 41
	help
	  Dma driver init priority.

endif # DMA_RZA2
