/*
 * Copyright (c) 2024 EPAM Systems
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <arm/armv8-m.dtsi>
#include <zephyr/dt-bindings/clock/renesas_cpg_mssr.h>
#include <mem.h>

/ {
	compatible = "renesas,r9a08g045";
	#address-cells = <1>;
	#size-cells = <1>;

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-m33";
			reg = <0>;
			clock-frequency = <250000000>;
		};
	};

	extal_clk: extal-clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		/* This value must be overridden by the board */
		clock-frequency = <0>;
	};

	soc {
		cpg: clock-controller@41010000 {
			compatible = "renesas,r9a08g045-cpg-mssr";
			reg = <0x41010000 0x10000>;
			clocks = <&extal_clk>;
			clock-names = "extal";
			#clock-cells = <2>;

			cpg_rctl: reset-controller {
				#reset-cells = <1>;
				status = "okay";
			};
		};

		pinctrl: pin-controller@41030000 {
			compatible = "renesas,r9a08g045-pinctrl";
			reg = <0x41030000 DT_SIZE_K(64)>;
			reg-names = "pinctrl";
		};
	};
};

&nvic {
	arm,num-irq-priority-bits = <8>;
};
