/*
 * Copyright (c) 2024 EPAM Systems
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <arm/armv8-m.dtsi>
#include <zephyr/dt-bindings/clock/renesas_cpg_mssr.h>
#include <zephyr/dt-bindings/clock/r9a08g045_cpg_mssr.h>
#include <zephyr/dt-bindings/interrupt-controller/r7s9210-intc.h>
#include <zephyr/dt-bindings/dt-util.h>
#include <zephyr/dt-bindings/adc/adc.h>
#include <zephyr/dt-bindings/gpio/rzg3s-gpio.h>
#include <zephyr/dt-bindings/pwm/pwm.h>
#include <zephyr/dt-bindings/pwm/rza2m_pwm.h>
#include <mem.h>

/ {
	compatible = "renesas,r9a08g045";
	#address-cells = <1>;
	#size-cells = <1>;

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-m33";
			reg = <0>;
			clock-frequency = <250000000>;
			#address-cells = <1>;
			#size-cells = <1>;

			mpu: mpu@e000ed90 {
				compatible = "arm,armv8m-mpu";
				reg = <0xe000ed90 0x40>;
				arm,num-mpu-regions = <16>;
			};
		};
	};

	extal_clk: extal-clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		/* This value must be overridden by the board */
		clock-frequency = <0>;
	};

	/* External CAN clock - to be overridden by boards that provide it */
	can_clk: can-clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <0>;
	};

	soc {
		cpg: clock-controller@41010000 {
			compatible = "renesas,r9a08g045-cpg-mssr";
			reg = <0x41010000 0x10000>;
			clocks = <&extal_clk>;
			clock-names = "extal";
			#clock-cells = <2>;

			cpg_rctl: reset-controller {
				compatible = "renesas,r9a08g045-cpg-reset";
				#reset-cells = <1>;
				status = "okay";
			};
		};

		syscon: system-controller@41020000 {
			compatible = "syscon";
			reg = <0x41020000 0xE30>;
			status = "okay";
		};

		pinctrl: pin-controller@41030000 {
			compatible = "renesas,r9a08g045-pinctrl";
			reg = <0x41030000 DT_SIZE_K(64)>;
			reg-names = "pinctrl";
			#address-cells = <1>;
			#size-cells = <1>;

			gpio: gpio-controller@TINT_OFFSET_NODE {
				compatible = "renesas,r9a08g045-gpio";
				reg = <TINT_OFFSET 0x30>;
				reg-names = "tint";
				interrupts =
					<429 0>, <430 0>, <431 0>, <432 0>,
					<433 0>, <434 0>, <435 0>, <436 0>,
					<437 0>, <438 0>, <439 0>, <440 0>,
					<441 0>, <442 0>, <443 0>, <444 0>,
					<445 0>, <446 0>, <447 0>, <448 0>,
					<449 0>, <450 0>, <451 0>, <452 0>,
					<453 0>, <454 0>, <455 0>, <456 0>,
					<457 0>, <458 0>, <459 0>, <460 0>;
				#address-cells = <1>;
				#size-cells = <0>;

				port0: gpio@0 {
					reg = <0x0>;
					gpio-controller;
					#gpio-cells=<2>;
					ngpios = <4>;
					status = "disabled";
				};

				port1: gpio@1 {
					reg = <0x1>;
					gpio-controller;
					#gpio-cells=<2>;
					ngpios = <5>;
					status = "disabled";
				};

				port2: gpio@2 {
					reg = <0x2>;
					gpio-controller;
					#gpio-cells=<2>;
					ngpios = <4>;
					status = "disabled";
				};

				port3: gpio@3 {
					reg = <0x3>;
					gpio-controller;
					#gpio-cells=<2>;
					ngpios = <4>;
					status = "disabled";
				};

				port4: gpio@4 {
					reg = <0x4>;
					gpio-controller;
					#gpio-cells=<2>;
					ngpios = <6>;
					status = "disabled";
				};

				port5: gpio@5 {
					reg = <0x5>;
					gpio-controller;
					#gpio-cells=<2>;
					ngpios = <5>;
					status = "disabled";
				};

				port6: gpio@6 {
					reg = <0x6>;
					gpio-controller;
					#gpio-cells=<2>;
					ngpios = <5>;
					status = "disabled";
				};

				port7: gpio@7 {
					reg = <0x7>;
					gpio-controller;
					#gpio-cells=<2>;
					ngpios = <5>;
					status = "disabled";
				};

				port8: gpio@8 {
					reg = <0x8>;
					gpio-controller;
					#gpio-cells=<2>;
					ngpios = <5>;
					status = "disabled";
				};

				port9: gpio@9 {
					reg = <0x9>;
					gpio-controller;
					#gpio-cells=<2>;
					ngpios = <4>;
					status = "disabled";
				};

				port10: gpio@a {
					reg = <0xa>;
					gpio-controller;
					#gpio-cells=<2>;
					ngpios = <5>;
					status = "disabled";
				};

				port11: gpio@b {
					reg = <0xb>;
					gpio-controller;
					#gpio-cells=<2>;
					ngpios = <4>;
					status = "disabled";
				};

				port12: gpio@c {
					reg = <0xc>;
					gpio-controller;
					#gpio-cells=<2>;
					ngpios = <2>;
					status = "disabled";
				};

				port13: gpio@d {
					reg = <0xd>;
					gpio-controller;
					#gpio-cells=<2>;
					ngpios = <5>;
					status = "disabled";
				};

				port14: gpio@e {
					reg = <0xe>;
					gpio-controller;
					#gpio-cells=<2>;
					ngpios = <3>;
					status = "disabled";
				};

				port15: gpio@f {
					reg = <0xf>;
					gpio-controller;
					#gpio-cells=<2>;
					ngpios = <4>;
					status = "disabled";
				};

				port16: gpio@10 {
					reg = <0x10>;
					gpio-controller;
					#gpio-cells=<2>;
					ngpios = <2>;
					status = "disabled";
				};

				port17: gpio@11 {
					reg = <0x11>;
					gpio-controller;
					#gpio-cells=<2>;
					ngpios = <4>;
					status = "disabled";
				};

				port18: gpio@12 {
					reg = <0x12>;
					gpio-controller;
					#gpio-cells=<2>;
					ngpios = <6>;
					status = "disabled";
				};
			};
		};

		scif0: serial@4004b800 {
			compatible = "renesas,rzg3s-scif";
			reg = <0x4004b800 0x18>;
			interrupts = <320 0>, <321 0>, <322 0>, <323 0>, <324 0>;
			interrupt-names = "eri", "bri", "rxi", "txi", "tei";
			clocks = <&cpg CPG_MOD R9A08G045_SCIF0_CLK_PCK>,
				 <&cpg CPG_CORE R9A08G045_CLK_P0>;
			clock-names = "fck", "bus";
			resets = <&cpg_rctl R9A08G045_SCIF0_RST_SYSTEM_N>;
			status = "disabled";
		};
		scif1: serial@4004bc00 {
			compatible = "renesas,rzg3s-scif";
			reg = <0x4004bc00 0x18>;
			interrupts = <325 0>, <326 0>, <327 0>, <328 0>, <329 0>;
			interrupt-names = "eri", "bri", "rxi", "txi", "tei";
			clocks = <&cpg CPG_MOD R9A08G045_SCIF1_CLK_PCK>,
				 <&cpg CPG_CORE R9A08G045_CLK_P0>;
			clock-names = "fck", "bus";
			resets = <&cpg_rctl R9A08G045_SCIF1_RST_SYSTEM_N>;
			status = "disabled";
		};
		scif2: serial@4004c000 {
			compatible = "renesas,rzg3s-scif";
			reg = <0x4004c000 0x18>;
			interrupts = <330 0>, <331 0>, <332 0>, <333 0>, <334 0>;
			interrupt-names = "eri", "bri", "rxi", "txi", "tei";
			clocks = <&cpg CPG_MOD R9A08G045_SCIF2_CLK_PCK>,
				 <&cpg CPG_CORE R9A08G045_CLK_P0>;
			clock-names = "fck", "bus";
			resets = <&cpg_rctl R9A08G045_SCIF2_RST_SYSTEM_N>;
			status = "disabled";
		};
		scif3: serial@4004c400 {
			compatible = "renesas,rzg3s-scif";
			reg = <0x4004c400 0x18>;
			interrupts = <335 0>, <336 0>, <337 0>, <338 0>, <339 0>;
			interrupt-names = "eri", "bri", "rxi", "txi", "tei";
			clocks = <&cpg CPG_MOD R9A08G045_SCIF3_CLK_PCK>,
				 <&cpg CPG_CORE R9A08G045_CLK_P0>;
			clock-names = "fck", "bus";
			resets = <&cpg_rctl R9A08G045_SCIF3_RST_SYSTEM_N>;
			status = "disabled";
		};
		scif4: serial@4004c800 {
			compatible = "renesas,rzg3s-scif";
			reg = <0x4004c800 0x18>;
			interrupts = <340 0>, <341 0>, <342 0>, <343 0>, <344 0>;
			interrupt-names = "eri", "bri", "rxi", "txi", "tei";
			clocks = <&cpg CPG_MOD R9A08G045_SCIF4_CLK_PCK>,
				 <&cpg CPG_CORE R9A08G045_CLK_P0>;
			clock-names = "fck", "bus";
			resets = <&cpg_rctl R9A08G045_SCIF4_RST_SYSTEM_N>;
			status = "disabled";
		};
		scif5: serial@4004e000 {
			compatible = "renesas,rzg3s-scif";
			reg = <0x4004e000 0x18>;
			interrupts = <345 0>, <346 0>, <347 0>, <348 0>, <349 0>;
			interrupt-names = "eri", "bri", "rxi", "txi", "tei";
			clocks = <&cpg CPG_MOD R9A08G045_SCIF5_CLK_PCK>,
				 <&cpg CPG_CORE R9A08G045_CLK_P0>;
			clock-names = "fck", "bus";
			resets = <&cpg_rctl R9A08G045_SCIF5_RST_SYSTEM_N>;
			status = "disabled";
		};

		intc: interrupt-controller@INTC_OFFSET_NODE {
			compatible = "renesas,r9a08g045-intc";
			reg = <INTC_OFFSET 0x18>;
			#interrupt-cells = <2>;
			#address-cells = <0>;
			interrupts =
				<0 0>,	/* NMI */
				<1 0>, <2 0>, <3 0>, <4 0>,
				<5 0>, <6 0>, <7 0>, <8 0>;
			map = <0 1 2 3 4 5 6 7 8>;
			interrupt-controller;
			interrupt-parent = <&nvic>;
		};

		i2c0: i2c@40090000 {
			compatible = "renesas,rzg-riic";
			clock-frequency = <100000>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x40090000 0x15>;
			interrupts = <257 0>, <258 0>, <259 0>, <260 0>,
				     <261 0>, <262 0>, <263 0>, <264 0>;
			interrupt-names = "tei", "nacki", "spi", "sti", "ali", "tmoi", "ri", "ti";
			clocks = <&cpg CPG_MOD R9A08G045_I2C0_PCLK>,
				 <&cpg CPG_CORE R9A08G045_CLK_P0>;
			clock-names = "fck", "bus";
			resets = < &cpg_rctl  R9A08G045_I2C0_MRST>;
			status = "disabled";
		};
		i2c1: i2c@40090400 {
			compatible = "renesas,rzg-riic";
			clock-frequency = <100000>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x40090400 0x15>;
			interrupts = <265 0>, <266 0>, <267 0>, <268 0>,
				     <269 0>, <270 0>, <271 0>, <272 0>;
			interrupt-names = "tei", "nacki", "spi", "sti", "ali", "tmoi", "ri", "ti";
			clocks = <&cpg CPG_MOD R9A08G045_I2C1_PCLK>,
				 <&cpg CPG_CORE R9A08G045_CLK_P0>;
			clock-names = "fck", "bus";
			resets = < &cpg_rctl  R9A08G045_I2C1_MRST>;
			status = "disabled";
		};
		i2c2: i2c@40090800 {
			compatible = "renesas,rzg-riic";
			clock-frequency = <100000>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x40090800 0x15>;
			interrupts = <273 0>, <274 0>, <275 0>, <276 0>,
				     <277 0>, <278 0>, <279 0>, <280 0>;
			interrupt-names = "tei", "nacki", "spi", "sti", "ali", "tmoi", "ri", "ti";
			clocks = <&cpg CPG_MOD R9A08G045_I2C2_PCLK>,
				 <&cpg CPG_CORE R9A08G045_CLK_P0>;
			clock-names = "fck", "bus";
			resets = < &cpg_rctl  R9A08G045_I2C2_MRST>;
			status = "disabled";
		};
		i2c3: i2c@40090c00 {
			compatible = "renesas,rzg-riic";
			clock-frequency = <100000>;
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x40090c00 0x15>;
			interrupts = <281 0>, <282 0>, <283 0>, <284 0>,
				     <285 0>, <286 0>, <287 0>, <288 0>;
			interrupt-names = "tei", "nacki", "spi", "sti", "ali", "tmoi", "ri", "ti";
			clocks = <&cpg CPG_MOD R9A08G045_I2C3_PCLK>,
				 <&cpg CPG_CORE R9A08G045_CLK_P0>;
			clock-names = "fck", "bus";
			resets = < &cpg_rctl  R9A08G045_I2C3_MRST>;
			status = "disabled";
		};

		spi0: spi@400aa000 {
			compatible = "renesas,rspi-r9a08g045", "renesas,rspi-rz";
			reg = <0x400aa000 0x24>;
			interrupts = <358 0>, <359 0>, <360 0>;
			interrupt-names = "error", "rx", "tx";
			interrupt-parent = <&nvic>;
			clocks = <&cpg CPG_MOD R9A08G045_RSPI0_CLKB>;
			resets = <&cpg_rctl R9A08G045_RSPI0_RST>;
			num-cs = <1>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		spi1: spi@400aa400 {
			compatible = "renesas,rspi-r9a08g045", "renesas,rspi-rz";
			reg = <0x400aa400 0x24>;
			interrupts = <361 0>, <362 0>, <363 0>;
			interrupt-names = "error", "rx", "tx";
			interrupt-parent = <&nvic>;
			clocks = <&cpg CPG_MOD R9A08G045_RSPI1_CLKB>;
			resets = <&cpg_rctl R9A08G045_RSPI1_RST>;
			num-cs = <1>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		spi2: spi@400aa800 {
			compatible = "renesas,rspi-r9a08g045", "renesas,rspi-rz";
			reg = <0x400aa800 0x24>;
			interrupts = <364 0>, <365 0>, <366 0>;
			interrupt-names = "error", "rx", "tx";
			interrupt-parent = <&nvic>;
			clocks = <&cpg CPG_MOD R9A08G045_RSPI2_CLKB>;
			resets = <&cpg_rctl R9A08G045_RSPI2_RST>;
			num-cs = <1>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		spi3: spi@400aac00 {
			compatible = "renesas,rspi-r9a08g045", "renesas,rspi-rz";
			reg = <0x400aac00 0x24>;
			interrupts = <367 0>, <368 0>, <369 0>;
			interrupt-names = "error", "rx", "tx";
			interrupt-parent = <&nvic>;
			clocks = <&cpg CPG_MOD R9A08G045_RSPI3_CLKB>;
			resets = <&cpg_rctl R9A08G045_RSPI3_RST>;
			num-cs = <1>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		spi4: spi@400ab000 {
			compatible = "renesas,rspi-r9a08g045", "renesas,rspi-rz";
			reg = <0x400ab000 0x24>;
			interrupts = <370 0>, <371 0>, <372 0>;
			interrupt-names = "error", "rx", "tx";
			interrupt-parent = <&nvic>;
			clocks = <&cpg CPG_MOD R9A08G045_RSPI4_CLKB>;
			resets = <&cpg_rctl R9A08G045_RSPI4_RST>;
			num-cs = <1>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		/* WDT to check the operation of Cortex-M33 CPU */
		wdt1: watchdog@42800400 {
			compatible = "renesas,r9a08g045-wdt", "renesas,rzg-wdt";
			reg = <0x42800400 0x24>, <0x41010B10 0x8>;
			reg-names = "wdt_reg", "cpg_reg";
			timer-idx = <1>;
			clocks = <&cpg CPG_MOD R9A08G045_WDT1_PCLK>,
				 <&cpg CPG_MOD R9A08G045_WDT1_CLK>;
			clock-names = "pclk", "oscclk";
			interrupts = <55 0>, <54 0>;
			interrupt-names = "wdt", "perrout";
			resets = <&cpg_rctl R9A08G045_WDT1_PRESETN>;
			status = "disabled";
		};
		/* WDT to check the operation of Cortex-M33 CPU with FPU */
		wdt2: watchdog@42800000 {
			compatible = "renesas,r9a08g045-wdt", "renesas,rzg-wdt";
			reg = <0x42800000 0x24>, <0x41010B10 0x8>;
			reg-names = "wdt_reg", "cpg_reg";
			timer-idx = <2>;
			clocks = <&cpg CPG_MOD R9A08G045_WDT2_PCLK>,
				 <&cpg CPG_MOD R9A08G045_WDT2_CLK>;
			clock-names = "pclk", "oscclk";
			interrupts = <57 0>, <56 0>;
			interrupt-names = "wdt", "perrout";
			resets = <&cpg_rctl R9A08G045_WDT2_PRESETN>;
			status = "disabled";
		};

		adc: adc@40058000 {
			compatible = "renesas,rzg3s-adc";
			reg = <0x40058000 0x80>;
			interrupts = <312 0>;
			clocks = <&cpg CPG_MOD R9A08G045_ADC_ADCLK>,
				 <&cpg CPG_MOD R9A08G045_ADC_PCLK>;
			clock-names = "adclk", "pclk";
			resets = <&cpg_rctl R9A08G045_ADC_PRESETN>,
				 <&cpg_rctl R9A08G045_ADC_ADRST_N>;
			reset-names = "presetn", "adrst-n";
			status = "disabled";
			#io-channel-cells = <1>;
		};

		canfd: can@400c0000 {
			compatible = "renesas,r9a08g045-canfd", "renesas,rzg3s-canfd";
			reg = <0x400c0000 DT_SIZE_K(128)>;
			interrupts = <373 0>, <374 0>;
			interrupt-names = "g_err", "g_recc";
			clocks = <&cpg CPG_MOD R9A08G045_CANFD_CLK_RAM>,
					 <&cpg CPG_MOD R9A08G045_CANFD_PCLK>,
					 <&can_clk>;
			clock-names = "fck", "canfd", "can_clk";
			resets = <&cpg_rctl R9A08G045_CANFD_RSTP_N>,
					 <&cpg_rctl R9A08G045_CANFD_RSTC_N>;
			reset-names = "rstp_n", "rstc_n";
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";

			canfd0: can_channel@0 {
				reg = <0x0>;
				interrupts = <375 0>, <377 0>, <379 0>;
				interrupt-names = "ch_rec", "ch_err", "ch_trx";
				status = "disabled";
			};

			canfd1: can_channel@1 {
				reg = <0x1>;
				interrupts = <376 0>, <378 0>, <380 0>;
				interrupt-names = "ch_rec", "ch_err", "ch_trx";
				status = "disabled";
			};
		};

		gtm0: timer@42801000 {
			compatible = "renesas,ostm-r9a08g045", "renesas,ostm";
			reg = <0x42801000 0x30>;
			interrupts = <44 0>;
			clocks = <&cpg CPG_MOD R9A08G045_OSTM0_PCLK>;
			resets = <&cpg_rctl R9A08G045_OSTM0_PRESETZ>;
			status = "disabled";
		};

		gtm1: timer@42801400 {
			compatible = "renesas,ostm-r9a08g045", "renesas,ostm";
			reg = <0x42801400 0x30>;
			interrupts = <45 0>;
			clocks = <&cpg CPG_MOD R9A08G045_OSTM1_PCLK>;
			resets = <&cpg_rctl R9A08G045_OSTM1_PRESETZ>;
			status = "disabled";
		};

		gtm2: timer@42801800 {
			compatible = "renesas,ostm-r9a08g045", "renesas,ostm";
			reg = <0x42801800 0x30>;
			interrupts = <46 0>;
			clocks = <&cpg CPG_MOD R9A08G045_OSTM2_PCLK>;
			resets = <&cpg_rctl R9A08G045_OSTM2_PRESETZ>;
			status = "disabled";
		};

		gtm3: timer@42801c00 {
			compatible = "renesas,ostm-r9a08g045", "renesas,ostm";
			reg = <0x42801c00 0x30>;
			interrupts = <47 0>;
			clocks = <&cpg CPG_MOD R9A08G045_OSTM3_PCLK>;
			resets = <&cpg_rctl R9A08G045_OSTM3_PRESETZ>;
			status = "disabled";
		};

		gtm4: timer@42802000 {
			compatible = "renesas,ostm-r9a08g045", "renesas,ostm";
			reg = <0x42802000 0x30>;
			interrupts = <48 0>;
			clocks = <&cpg CPG_MOD R9A08G045_OSTM4_PCLK>;
			resets = <&cpg_rctl R9A08G045_OSTM4_PRESETZ>;
			status = "disabled";
		};

		gtm5: timer@42802400 {
			compatible = "renesas,ostm-r9a08g045", "renesas,ostm";
			reg = <0x42802400 0x30>;
			interrupts = <49 0>;
			clocks = <&cpg CPG_MOD R9A08G045_OSTM5_PCLK>;
			resets = <&cpg_rctl R9A08G045_OSTM5_PRESETZ>;
			status = "disabled";
		};

		gtm6: timer@42802800 {
			compatible = "renesas,ostm-r9a08g045", "renesas,ostm";
			reg = <0x42802800 0x30>;
			interrupts = <50 0>;
			clocks = <&cpg CPG_MOD R9A08G045_OSTM6_PCLK>;
			resets = <&cpg_rctl R9A08G045_OSTM6_PRESETZ>;
			status = "disabled";
		};

		gtm7: timer@42802c00 {
			compatible = "renesas,ostm-r9a08g045", "renesas,ostm";
			reg = <0x42802c00 0x30>;
			interrupts = <51 0>;
			clocks = <&cpg CPG_MOD R9A08G045_OSTM7_PCLK>;
			resets = <&cpg_rctl R9A08G045_OSTM7_PRESETZ>;
			status = "disabled";
		};

		/* General Purpose PWM Timer Channels */
		gpt32e0: gpt32e0@50048000 {
			compatible = "renesas,rzg3s-pwm";
			reg = <0x50048000 0xa4>;
			reg-names = "GPT32E";
			interrupts = <128 0>,
				     <129 0>,
				     <130 0>,
				     <131 0>,
				     <132 0>,
				     <133 0>,
				     <134 0>,
				     <135 0>,
				     <136 0>,
				     <137 0>;
			interrupt-names = "ccmpa", "ccmpb", "cmpc", "cmpd", "cmpe", "cmpf",
					  "adtrga", "adtrgb", "ovf", "unf";
			clocks = <&cpg CPG_MOD R9A08G045_GPT_PCLK>,
					 <&cpg CPG_CORE R9A08G045_CLK_P0>;
			resets = <&cpg_rctl R9A08G045_GPT_RST_C>;
			#pwm-cells = <3>;
			channel-id = <0>;
			status = "disabled";
		};

		gpt32e1: gpt32e1@50048100 {
			compatible = "renesas,rzg3s-pwm";
			reg = <0x50048100 0xa4>;
			reg-names = "GPT32E";
			interrupts = <141 0>,
				     <142 0>,
				     <143 0>,
				     <144 0>,
				     <145 0>,
				     <146 0>,
				     <147 0>,
				     <148 0>,
				     <149 0>,
				     <150 0>;
			interrupt-names = "ccmpa", "ccmpb", "cmpc", "cmpd", "cmpe", "cmpf",
					  "adtrga", "adtrgb", "ovf", "unf";
			clocks = <&cpg CPG_MOD R9A08G045_GPT_PCLK>,
					 <&cpg CPG_CORE R9A08G045_CLK_P0>;
			resets = <&cpg_rctl R9A08G045_GPT_RST_C>;
			#pwm-cells = <3>;
			channel-id = <1>;
			status = "disabled";
		};

		gpt32e2: gpt32e2@50048200 {
			compatible = "renesas,rzg3s-pwm";
			reg = <0x50048200 0xa4>;
			reg-names = "GPT32E";
			interrupts = <154 0>,
				     <155 0>,
				     <156 0>,
				     <157 0>,
				     <158 0>,
				     <159 0>,
				     <160 0>,
				     <161 0>,
				     <162 0>,
				     <163 0>;
			interrupt-names = "ccmpa", "ccmpb", "cmpc", "cmpd", "cmpe", "cmpf",
					  "adtrga", "adtrgb", "ovf", "unf";
			clocks = <&cpg CPG_MOD R9A08G045_GPT_PCLK>,
					 <&cpg CPG_CORE R9A08G045_CLK_P0>;
			resets = <&cpg_rctl R9A08G045_GPT_RST_C>;
			#pwm-cells = <3>;
			channel-id = <2>;
			status = "disabled";
		};

		gpt32e3: gpt32e3@50048300 {
			compatible = "renesas,rzg3s-pwm";
			reg = <0x50048300 0xa4>;
			reg-names = "GPT32E";
			interrupts = <167 0>,
				     <168 0>,
				     <169 0>,
				     <170 0>,
				     <171 0>,
				     <172 0>,
				     <173 0>,
				     <174 0>,
				     <175 0>,
				     <176 0>;
			interrupt-names = "ccmpa", "ccmpb", "cmpc", "cmpd", "cmpe", "cmpf",
					  "adtrga", "adtrgb", "ovf", "unf";
			clocks = <&cpg CPG_MOD R9A08G045_GPT_PCLK>,
					 <&cpg CPG_CORE R9A08G045_CLK_P0>;
			resets = <&cpg_rctl R9A08G045_GPT_RST_C>;
			#pwm-cells = <3>;
			channel-id = <3>;
			status = "disabled";
		};

		gpt32e4: gpt32e4@50048400 {
			compatible = "renesas,rzg3s-pwm";
			reg = <0x50048400 0xa4>;
			reg-names = "GPT32E";
			interrupts = <180 0>,
				     <181 0>,
				     <182 0>,
				     <183 0>,
				     <184 0>,
				     <185 0>,
				     <186 0>,
				     <187 0>,
				     <188 0>,
				     <189 0>;
			interrupt-names = "ccmpa", "ccmpb", "cmpc", "cmpd", "cmpe", "cmpf",
					  "adtrga", "adtrgb", "ovf", "unf";
			clocks = <&cpg CPG_MOD R9A08G045_GPT_PCLK>,
					 <&cpg CPG_CORE R9A08G045_CLK_P0>;
			resets = <&cpg_rctl R9A08G045_GPT_RST_C>;
			#pwm-cells = <3>;
			channel-id = <4>;
			status = "disabled";
		};

		gpt32e5: gpt32e5@50048500 {
			compatible = "renesas,rzg3s-pwm";
			reg = <0x50048500 0xa4>;
			reg-names = "GPT32E";
			interrupts = <193 0>,
				     <194 0>,
				     <195 0>,
				     <196 0>,
				     <197 0>,
				     <198 0>,
				     <199 0>,
				     <200 0>,
				     <201 0>,
				     <202 0>;
			interrupt-names = "ccmpa", "ccmpb", "cmpc", "cmpd", "cmpe", "cmpf",
					  "adtrga", "adtrgb", "ovf", "unf";
			clocks = <&cpg CPG_MOD R9A08G045_GPT_PCLK>,
					 <&cpg CPG_CORE R9A08G045_CLK_P0>;
			resets = <&cpg_rctl R9A08G045_GPT_RST_C>;
			#pwm-cells = <3>;
			channel-id = <5>;
			status = "disabled";
		};

		gpt32e6: gpt32e6@50048600 {
			compatible = "renesas,rzg3s-pwm";
			reg = <0x50048600 0xa4>;
			reg-names = "GPT32E";
			interrupts = <206 0>,
				     <207 0>,
				     <208 0>,
				     <209 0>,
				     <210 0>,
				     <211 0>,
				     <212 0>,
				     <213 0>,
				     <214 0>,
				     <215 0>;
			interrupt-names = "ccmpa", "ccmpb", "cmpc", "cmpd", "cmpe", "cmpf",
					  "adtrga", "adtrgb", "ovf", "unf";
			clocks = <&cpg CPG_MOD R9A08G045_GPT_PCLK>,
					 <&cpg CPG_CORE R9A08G045_CLK_P0>;
			resets = <&cpg_rctl R9A08G045_GPT_RST_C>;
			#pwm-cells = <3>;
			channel-id = <6>;
			status = "disabled";
		};

		gpt32e7: gpt32e7@50048700 {
			compatible = "renesas,rzg3s-pwm";
			reg = <0x50048700 0xa4>;
			reg-names = "GPT32E";
			interrupts = <219 0>,
				     <220 0>,
				     <221 0>,
				     <222 0>,
				     <223 0>,
				     <224 0>,
				     <225 0>,
				     <226 0>,
				     <227 0>,
				     <228 0>;
			interrupt-names = "ccmpa", "ccmpb", "cmpc", "cmpd", "cmpe", "cmpf",
					  "adtrga", "adtrgb", "ovf", "unf";
			clocks = <&cpg CPG_MOD R9A08G045_GPT_PCLK>,
					 <&cpg CPG_CORE R9A08G045_CLK_P0>;
			resets = <&cpg_rctl R9A08G045_GPT_RST_C>;
			#pwm-cells = <3>;
			channel-id = <7>;
			status = "disabled";
		};

		gpt32e0_s: gpt32e0@40048000 {
			compatible = "renesas,rzg3s-pwm";
			reg = <0x40048000 0xa4>;
			reg-names = "GPT32E";
			interrupts = <128 0>,
				     <129 0>,
				     <130 0>,
				     <131 0>,
				     <132 0>,
				     <133 0>,
				     <134 0>,
				     <135 0>,
				     <136 0>,
				     <137 0>;
			interrupt-names = "ccmpa", "ccmpb", "cmpc", "cmpd", "cmpe", "cmpf",
					  "adtrga", "adtrgb", "ovf", "unf";
			clocks = <&cpg CPG_MOD R9A08G045_GPT_PCLK>,
					 <&cpg CPG_CORE R9A08G045_CLK_P0>;
			resets = <&cpg_rctl R9A08G045_GPT_RST_C>;
			#pwm-cells = <3>;
			channel-id = <0>;
			status = "disabled";
		};

		gpt32e1_s: gpt32e1@40048100 {
			compatible = "renesas,rzg3s-pwm";
			reg = <0x40048100 0xa4>;
			reg-names = "GPT32E";
			interrupts = <141 0>,
				     <142 0>,
				     <143 0>,
				     <144 0>,
				     <145 0>,
				     <146 0>,
				     <147 0>,
				     <148 0>,
				     <149 0>,
				     <150 0>;
			interrupt-names = "ccmpa", "ccmpb", "cmpc", "cmpd", "cmpe", "cmpf",
					  "adtrga", "adtrgb", "ovf", "unf";
			clocks = <&cpg CPG_MOD R9A08G045_GPT_PCLK>,
					 <&cpg CPG_CORE R9A08G045_CLK_P0>;
			resets = <&cpg_rctl R9A08G045_GPT_RST_C>;
			#pwm-cells = <3>;
			channel-id = <1>;
			status = "disabled";
		};

		gpt32e2_s: gpt32e2@40048200 {
			compatible = "renesas,rzg3s-pwm";
			reg = <0x40048200 0xa4>;
			reg-names = "GPT32E";
			interrupts = <154 0>,
				     <155 0>,
				     <156 0>,
				     <157 0>,
				     <158 0>,
				     <159 0>,
				     <160 0>,
				     <161 0>,
				     <162 0>,
				     <163 0>;
			interrupt-names = "ccmpa", "ccmpb", "cmpc", "cmpd", "cmpe", "cmpf",
					  "adtrga", "adtrgb", "ovf", "unf";
			clocks = <&cpg CPG_MOD R9A08G045_GPT_PCLK>,
					 <&cpg CPG_CORE R9A08G045_CLK_P0>;
			resets = <&cpg_rctl R9A08G045_GPT_RST_C>;
			#pwm-cells = <3>;
			channel-id = <2>;
			status = "disabled";
		};

		gpt32e3_s: gpt32e3@40048300 {
			compatible = "renesas,rzg3s-pwm";
			reg = <0x40048300 0xa4>;
			reg-names = "GPT32E";
			interrupts = <167 0>,
				     <168 0>,
				     <169 0>,
				     <170 0>,
				     <171 0>,
				     <172 0>,
				     <173 0>,
				     <174 0>,
				     <175 0>,
				     <176 0>;
			interrupt-names = "ccmpa", "ccmpb", "cmpc", "cmpd", "cmpe", "cmpf",
					  "adtrga", "adtrgb", "ovf", "unf";
			clocks = <&cpg CPG_MOD R9A08G045_GPT_PCLK>,
					 <&cpg CPG_CORE R9A08G045_CLK_P0>;
			resets = <&cpg_rctl R9A08G045_GPT_RST_C>;
			#pwm-cells = <3>;
			channel-id = <3>;
			status = "disabled";
		};

		gpt32e4_s: gpt32e4@40048400 {
			compatible = "renesas,rzg3s-pwm";
			reg = <0x40048400 0xa4>;
			reg-names = "GPT32E";
			interrupts = <180 0>,
				     <181 0>,
				     <182 0>,
				     <183 0>,
				     <184 0>,
				     <185 0>,
				     <186 0>,
				     <187 0>,
				     <188 0>,
				     <189 0>;
			interrupt-names = "ccmpa", "ccmpb", "cmpc", "cmpd", "cmpe", "cmpf",
					  "adtrga", "adtrgb", "ovf", "unf";
			clocks = <&cpg CPG_MOD R9A08G045_GPT_PCLK>,
					 <&cpg CPG_CORE R9A08G045_CLK_P0>;
			resets = <&cpg_rctl R9A08G045_GPT_RST_C>;
			#pwm-cells = <3>;
			channel-id = <4>;
			status = "disabled";
		};

		gpt32e5_s: gpt32e5@40048500 {
			compatible = "renesas,rzg3s-pwm";
			reg = <0x40048500 0xa4>;
			reg-names = "GPT32E";
			interrupts = <193 0>,
				     <194 0>,
				     <195 0>,
				     <196 0>,
				     <197 0>,
				     <198 0>,
				     <199 0>,
				     <200 0>,
				     <201 0>,
				     <202 0>;
			interrupt-names = "ccmpa", "ccmpb", "cmpc", "cmpd", "cmpe", "cmpf",
					  "adtrga", "adtrgb", "ovf", "unf";
			clocks = <&cpg CPG_MOD R9A08G045_GPT_PCLK>,
					 <&cpg CPG_CORE R9A08G045_CLK_P0>;
			resets = <&cpg_rctl R9A08G045_GPT_RST_C>;
			#pwm-cells = <3>;
			channel-id = <5>;
			status = "disabled";
		};

		gpt32e6_s: gpt32e6@40048600 {
			compatible = "renesas,rzg3s-pwm";
			reg = <0x40048600 0xa4>;
			reg-names = "GPT32E";
			interrupts = <206 0>,
				     <207 0>,
				     <208 0>,
				     <209 0>,
				     <210 0>,
				     <211 0>,
				     <212 0>,
				     <213 0>,
				     <214 0>,
				     <215 0>;
			interrupt-names = "ccmpa", "ccmpb", "cmpc", "cmpd", "cmpe", "cmpf",
					  "adtrga", "adtrgb", "ovf", "unf";
			clocks = <&cpg CPG_MOD R9A08G045_GPT_PCLK>,
					 <&cpg CPG_CORE R9A08G045_CLK_P0>;
			resets = <&cpg_rctl R9A08G045_GPT_RST_C>;
			#pwm-cells = <3>;
			channel-id = <6>;
			status = "disabled";
		};

		gpt32e7_s: gpt32e7@40048700 {
			compatible = "renesas,rzg3s-pwm";
			reg = <0x40048700 0xa4>;
			reg-names = "GPT32E";
			interrupts = <219 0>,
				     <220 0>,
				     <221 0>,
				     <222 0>,
				     <223 0>,
				     <224 0>,
				     <225 0>,
				     <226 0>,
				     <227 0>,
				     <228 0>;
			interrupt-names = "ccmpa", "ccmpb", "cmpc", "cmpd", "cmpe", "cmpf",
					  "adtrga", "adtrgb", "ovf", "unf";
			clocks = <&cpg CPG_MOD R9A08G045_GPT_PCLK>,
					 <&cpg CPG_CORE R9A08G045_CLK_P0>;
			resets = <&cpg_rctl R9A08G045_GPT_RST_C>;
			#pwm-cells = <3>;
			channel-id = <7>;
			status = "disabled";
		};
	};
};

&nvic {
	arm,num-irq-priority-bits = <7>;
};
