/*
 * Copyright (c) 2024 EPAM Systems
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	aliases {
		pwm-0 = &gpt32e0_s;
	};

	buttons {
		n: node {
			gpios = <&port13 4 GPIO_ACTIVE_LOW>;
			status = "okay";
		};
	};
};

&gpt32e0_s {
	pinctrl-0 = <&gpt0_pins>;
	pinctrl-names = "default";
	renesas,poeg = "POEGB";
	renesas,poeg-device = <&poegb>;
	status = "okay";
};

&port13 {
	status = "okay";
};

&poegb {
	pinctrl-0 = <&poegb_pins>;
	pinctrl-names = "default";
	status = "okay";
	renesas,invert = <1>;
};

&pinctrl {
	/omit-if-no-ref/ gpt0_pins: gpt3 {
		gpt0-pinmux {
			pinmux = <RZG3S_PINMUX(PORT13, 0, 2)>; /* GTIOC0A */
		};
	};

	/* P18_1 used as GTETGB */
	/omit-if-no-ref/ poegb_pins: poegb {
		poegb-pinmux {
			pinmux = <RZG3S_PINMUX(PORT18, 1, 6)>; /* GTETRGB */
		};
	};
};
