# Renesas RZ A2M SoC line

# Copyright (c) 2023 EPAM Systems
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_RZ_A

config SOC_SERIES
	default "rz_a"

config NUM_IRQS
	default 512

endif # SOC_SERIES_RZ_A
