# Renesas RZ A2M SoC line

# Copyright (c) 2023 EPAM Systems
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_RZ_A

config SOC_SERIES
	default "rz_a"

config NUM_IRQS
	default 520 if 2ND_LEVEL_INTERRUPTS
	default 512 if !2ND_LEVEL_INTERRUPTS

if MULTI_LEVEL_INTERRUPTS

config 1ST_LEVEL_INTERRUPT_BITS
	default 9

config MAX_IRQ_PER_AGGREGATOR
	default 8

config 2ND_LEVEL_INTERRUPTS
	default y

config 2ND_LVL_ISR_TBL_OFFSET
	default 512

config 2ND_LVL_INTR_00_OFFSET
	default 4

config NUM_2ND_LEVEL_AGGREGATORS
	default 1

endif # MULTI_LEVEL_INTERRUPTS

# we want to get correct flash size and address even if XIP is disabled
config FLASH_SIZE
	default $(dt_chosen_reg_size_int,$(DT_CHOSEN_Z_FLASH),0,K)

config FLASH_BASE_ADDRESS
	default $(dt_chosen_reg_addr_hex,$(DT_CHOSEN_Z_FLASH))

endif # SOC_SERIES_RZ_A
