# Copyright (c) 2023 Epam Systems
#
# SPDX-License-Identifier: Apache-2.0

config FLASH_RZA2
	bool "Flash driver for RZ/A2 series"
	default y
	depends on DT_HAS_RENESAS_RZA2_FLASH_CONTROLLER_ENABLED
	depends on !XIP
	select FLASH_HAS_DRIVER_ENABLED
	select FLASH_HAS_PAGE_LAYOUT
	help
	  Enable flash driver for RZ/A2 series.
