/*
 * Copyright 2024 Junho Lee <junho@tsnlab.com>
 * Copyright (c) 2024 EPAM Systems
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <broadcom/bcm2712.dtsi>
#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
	compatible = "raspberrypi,5-model-b", "brcm,bcm2712";
	model = "Raspberry Pi 5";
	#address-cells = <2>;
	#size-cells = <1>;

	aliases {
		led0 = &led_act;
		sdhc0 = &sdio1;
	};

	chosen {
		zephyr,sram = &sram0;
		zephyr,console = &uart10;
		zephyr,shell-uart = &uart10;
	};

	leds {
		compatible = "gpio-leds";

		led_act: led-act {
			gpios = <&gio_aon 9 GPIO_ACTIVE_LOW>;
			label = "ACT";
		};
	};

	sd_io_1v8_reg: sd_io_1v8_reg {
		compatible = "regulator-gpio";
		regulator-name = "vdd-sd-io";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
		gpios = <&gio_aon 3 GPIO_ACTIVE_HIGH>;
		states = <1800000 0x1
			  3300000 0x0>;
		status = "okay";
	};

	sd_vcc_reg: sd_vcc_reg {
		compatible = "regulator-fixed";
		regulator-name = "vcc-sd";
		regulator-boot-on;
		enable-gpios = <&gio_aon 4 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
};

/* samples required more memory and RPI5 has it, set it to 4M */
&sram0 {
	reg = <0x0 0x200000 0x400000>;
};

&gio_aon {
	status = "okay";
};

&uart10 {
	status = "okay";
	current-speed = <115200>;
};

/* SDIO1 is used to drive removable the SD card */
&sdio1 {
	vqmmc-supply = <&sd_io_1v8_reg>;
	vmmc-supply = <&sd_vcc_reg>;
	bus-width = <4>;
	cd-gpios = <&gio_aon 5 GPIO_ACTIVE_LOW>;
	/* request freq from hw */
	max-bus-freq = <0>;
	status = "okay";

	disk {
		compatible = "zephyr,sdmmc-disk";
		status = "okay";
	};
};
