# Renesas SCIF UART configuration options

# Copyright (c) 2021 IoT.bzh
# Copyright (c) 2023 EPAM Systems
# SPDX-License-Identifier: Apache-2.0

config UART_SCIF
	bool "Renesas SCIF UART Driver"
	default y
	depends on DT_HAS_RENESAS_RCAR_SCIF_ENABLED || DT_HAS_RENESAS_RZA2M_SCIF_ENABLED
	select SERIAL_HAS_DRIVER
	select SERIAL_SUPPORT_INTERRUPT
	select SERIAL_SUPPORT_ASYNC if DT_HAS_RENESAS_RZA2_DMA_ENABLED
	select DMA if UART_ASYNC_API
	help
	  Enable Renesas SCIF UART Driver.

config UART_SCI
	bool "Renesas SCI UART Driver"
	default y
	depends on DT_HAS_RENESAS_RZA2M_SCI_ENABLED
	select SERIAL_HAS_DRIVER
	select SERIAL_SUPPORT_INTERRUPT
	select SERIAL_SUPPORT_ASYNC if DT_HAS_RENESAS_RZA2_DMA_ENABLED
	select DMA if UART_ASYNC_API
	help
	  Enable Renesas SCI UART Driver.
