CONFIG_SOC_R7S9210=y
CONFIG_SOC_SERIES_RZ_A=y
CONFIG_BOARD_RZ_A2M=y

# dummy value, runtime value will be used from 'renesas,ostm' timer driver
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=33000000

CONFIG_MULTI_LEVEL_INTERRUPTS=y

# Enable clock control
CONFIG_CLOCK_CONTROL=y

# Enable UART driver
CONFIG_SERIAL=y

# Enable PINCTRL driver
CONFIG_PINCTRL=y

# Enable GPIO driver
CONFIG_GPIO=y
# RZ/A2M Driver doesn't support irq reconfiguration, just set ISEL bit
CONFIG_GPIO_ENABLE_DISABLE_INTERRUPT=y

# Enable console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

# Enable Cache Management to be support inv_range and flush_range calls
# needed for DMA to work correctly.
CONFIG_CACHE_MANAGEMENT=y

# Enable BSC
CONFIG_BSC=y

# Enable RSPI
CONFIG_SPI_RZA2M=y
