# Renesas RZ A2M general purpose PWM timer configuration options

# Copyright (c) 2023 EPAM Systems
# SPDX-License-Identifier: Apache-2.0

config PWM_RZA2M
	bool "Renesas RZ/A2M General purpose PWM timer driver"
	default y
	depends on DT_HAS_RENESAS_RZA2M_PWM_ENABLED || DT_HAS_RENESAS_RZG3S_PWM_ENABLED
	help
	  Enable General Purpose PWM timer driver. This driver is
	  compatible with both RZ/A2M and RZ/G3S boards.

config POEG_RZG3S
	bool "Renesas RZ/G3S POEG driver"
	default y
	depends on DT_HAS_RENESAS_RZG3S_POEG_ENABLED
	help
	  Enable POEG driver. This driver is compatible with
	  RZ/G3S GPT driver.

config PWM_MTU_RZA2M
	bool "Renesas RZ/A2M multi-functional PWM timer driver"
	default y
	depends on DT_HAS_RENESAS_RZA2M_MTU_ENABLED
	help
	  Enable Multi Functional PWM timer driver.
