# Copyright (c) 2023 EPAM Systems
# SPDX-License-Identifier: Apache-2.0

config OPTEE
	bool "OP-TEE driver"
	depends on (ARM64 && MMU) || ZTEST
	help
	  This implements support of the OP-TEE firmware which is loaded
	  as BL32 image. OP-TEE is a Trust Zone OS which implements mechanisms
	  of the hardware isolation and rely to ARM TrustZone technology.
	  Driver requests functions from the OP-TEE and implements RPC mechanism
	  needed by OP-TEE to run services. See https://www.op-tee.org for more
	  information.

config OPTEE_MAX_NOTIF
	int "Max number of OP-TEE notifications"
	depends on OPTEE
	default 255
	help
	 Sets the maximum notifications from OP-TEE to the Normal World. OP-TEE using
	 this mechanism for the synchronization.

config OPTEE_SHM_CACHE_MAX_ENTRIES
	int "Upper limit of SHM cache entries"
	depends on OPTEE
	default 16
	help
	  This sets the maximum number of entries in the SHM cache. SHM allocator
	  would not allocate more than this number of entries. This effectively
	  limits the number of OPTEE requests that can be in flight at any given
	  time. This is needed to prevent the possibility of causing a memory
	  leak by doing a large number of requests in parallel. The default value
	  of 16 should be sufficient for most use cases.
