# Copyright (c) 2024 EPAM Systems
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_RZ_G
	bool "Renesas RZ A series based on Cortex M33"
	select ARM
	select CPU_CORTEX_M33
	select PLATFORM_SPECIFIC_INIT
	select SOC_FAMILY_RZ
	help
	  Enable support for Renesas RZ G SoC series based on Cortex M33

if SOC_SERIES_RZ_G

endif # SOC_SERIES_RZ_G
