# Copyright (c) 2024 EPAM Systems
# SPDX-License-Identifier: Apache-2.0

config ARM_SCMI_RESET
	bool "ARM SCMI based reset driver"
	depends on DT_HAS_ARM_SCMI_RESET_ENABLED
	default y
	help
	  Enable ARM SCMI reset driver based on Reset domain management protocol.
